<%- include('header')%>

<div class="result">
    <% if(error){%>
        <%= error%>
    <%}else{%>
        <h1>    
            $<%= quantidade%>  dolares na cotação atual  de: <%= cotacao%> é igual    a: R$<%= conversao %> Reais
        </h1>
    <%}%>
   
</div>




<%- include('footer')%>